FRED_API_KEY=
TWELVE_DATA_API_KEY=
TWELVE_DATA_KOSPI_SYMBOL=
TWELVE_DATA_KOSDAQ_SYMBOL=
TWELVE_DATA_GOLD_SYMBOL=XAU/USD
TWELVE_DATA_COPPER_SYMBOL=
ECOS_API_KEY=
ECOS_USDKRW_STAT_CODE=731Y001
ECOS_USDKRW_ITEM_CODE=0000001
DART_API_KEY=
